nav {
    background-color: var(--dark-900);
   & button {
        color: var(--dark-500);
       &:hover {
           text-decoration: underline;
       }
       &.btn-active {
           color: var(--white);
           text-decoration: underline;
       }
    }
}